.mainHeaderBackground {
    background-color: #f8f9fa; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 

}

.mainHeaderImage {
    max-width: 100%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px; 
    object-fit: contain; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
